<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Julo Automation" verbose="1">
    <listeners>
        <listener class-name="com.helloselenium.android.julo.utils.ScreenshotListener"/>
    </listeners>
    <test name="signup">
        <classes>
            <class name="com.helloselenium.android.julo.tests.JuloAndroidAppTest"/>
        </classes>
    </test>
</suite>


